.cta-section {
  position: relative;
  background-image: url(../img/about/cta-ban.webp);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  padding: 6rem 0;
  z-index: 0;

  &.glass {
    > ::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      z-index: 0;
    }
  }

  h2,
  h3,
  h4,
  p,
  a,
  span {
    color: #dadada;
    position: relative;
    z-index: 5;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 3rem;
    color: $theme-color;
    border: 3px solid $theme-color;
    border-radius: 20px;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
    i {
      margin-right: .5rem;
    }
    &:hover {
      color: #dadada;
      background-color: $theme-color;
      transition: all 0.3s ease;
    }
  }

  .align-center {
    text-align: center;
  }
}


