//------------------------------------------------------responsivo--------------------------------------
$xxl: '(min-width:1400px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 575px)';

//-----------------------------------------------------color---------------------------------------------

$theme-color: #3d989b;
$theme-color2: #616161;
$theme-color3: #e12e31;

$theme-font-hover: #3a888e;

$bgd-body: rgb(241 245 249);

//-----------------------------------------------------font-family-----------------------------------------
$font_1 :'Montserrat', sans-serif;
$font_2 :'Montserrat', sans-serif;

//-----------------------------------------------------usable-----------------------------------------------
